.footer{
    z-index: -1;
    height: 50vh;
    width: 100%;
    background-color: black;
    color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap;  */
}
.links{
    width: 20%;
    font-size: 10px;
}
a{
    color: wheat;
}

.para{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    
.p{
        text-align: center;
        word-wrap: break-word; 
}
    


.icons {
    width: 20%;
    color: white; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 15px; */
    
} 
.fa-brands{
    color: wheat;
}






@media screen and (max-width: 500px) {
    .footer {
        flex-direction: column;
        height: auto;
        width: auto;
        gap: 30px;
        padding: 20px 0px 20px 0px;
        font-size:smaller;
    }
 
}

@media screen and (max-width: 300px) {
    .links , .icons{
        flex-direction: column;
        height: auto;
        width: auto;
        gap: 30px;
    }
    
}

